@use '../mixins' as m;
@use '../variables' as *;

.contact {
    display: flex;
    margin-inline: 20px;
    @media (min-width: $tablet-screen) {
        margin-inline: 50px;
        overflow: hidden;
    }
    @media (min-width: $desktop-screen) {
        margin-inline: 100px;
    }
    background-color: var(--switch-color);
    border-radius: var(--card-border-radius);
    position: relative;
    &::after {
        content: '';
        position: absolute;
    }
    @include m.desktop {
        font-size: 14px;
    }
    @include m.tablet {
        justify-content: center;
        margin-bottom: 68px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 556px;
        z-index: 2;
        @media (min-width: $tablet-screen) {
            row-gap: 40px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 0 0 0 100px;
        @include m.tablet {
            padding: 40px 60px 50px 30px;
        }
    }
    &__radio {
        display: flex;
        column-gap: 35px;
        align-items: center;
        justify-content: center;
        padding: 60px 0 0 100px;
        @include m.tablet {
            padding: 40px 52px 0px 52px;
            font-size: 16px;
        }
        p {
            display: flex;
            align-items: center;
        }
        &-button {
            width: 28px;
            height: 28px;
            position: relative;
            @include m.tablet {
                width: 20px;
                height: 20px;
            }
            &:checked {
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 16px;
                    height: 16px;
                    background: var(--accent-color);
                    border-radius: 50%;
                    border: 1px solid var(--accent-color);
                }
            }
        }
    }
    &__button {
        width: 496px;
        margin: 0 0 80px 100px;
        @include m.button-puppet(var(--secondary-color),
            var(--secondary-color),
            var(--main-color));
        @include m.tablet {
            margin: 0;
            width: 100%;
            max-width: 390px;
            position: absolute;
            top: 115%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: var(--accent-color);
            color: black;
        }
    }
    &__picture {
        z-index: 1;
        &-img {
            position: absolute;
            top: 50%;
            left: 100%;
            translate: -50% -50%;
            aspect-ratio: 1;
        }
        @include m.tablet {
            display: none;
        }
    }
}

.field {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
    width: 100%;
    &__label {
        font-size: 16px;
        @include m.tablet {
            font-size: 14px;
        }
    }
    &__input {
        width: 100%;
        height: 68px;
        padding-left: 30px;
        border: 1px solid black;
        border-radius: var(--button-border-radius);
        font-size: 18px;
        @include m.tablet {
            padding-left: 20px;
            height: 60px;
            font-size: 16px;
        }
        &-textarea {
            width: 100%;
            padding-left: 30px;
            height: 190px;
            padding-block: 18px;
            resize: none;
            border: 1px solid black;
            border-radius: var(--button-border-radius);
            font-size: 18px;
            font-family: var(--font-family);
            @include m.tablet {
                padding-left: 20px;
                height: 60px;
                font-size: 16px;
            }
        }
        &:focus {
            border: 2px solid var(--accent-color);
            outline: none;
        }
    }
}