@use '../mixins' as m;
@use '../variables' as *;

.cases {
  margin-inline: 20px;
  @media (min-width: $tablet-screen) {
    padding: 40px;
    margin-inline: 50px;
    color: var(--reverse-text-color);
    background-color: var(--secondary-color);
    border-radius: var(--card-border-radius);
  }
  @media (min-width: $desktop-screen) {
    margin-inline: 100px;
    padding: 70px 60px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include m.tablet {
      column-gap: 20px;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      width: 100vw;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &:not(:first-child) {
      padding-left: 64px;
    }
    &:not(:last-child) {
      padding-right: 64px;
      border-right: 1px solid var(--reverse-text-color);
    }
    @media (min-width: $tablet-screen) {
      &:not(:first-child) {
        padding-left: 30px;
      }
      &:not(:last-child) {
        padding-right: 30px;
        border-right: 1px solid var(--reverse-text-color);
      }
    }
    @include m.tablet {
      color: var(--reverse-text-color);
      background-color: var(--secondary-color);
      border-radius: var(--card-border-radius);
      padding: 42px 50px;
      min-width: 350px;
      scroll-snap-align: start;
    }
  }
  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--link-color) !important;
    padding-top: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 3px;
      background-color: var(--switch-color);
      transition-duration: var(--transition-duration);
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}