@use '../mixins' as m;
@use '../variables' as *;

.footer {
  @include m.tablet {
    padding-inline: 0;
    padding-top: 90px;
  }
  &__logo {
    width: 180px;
    height: auto;

    @include m.desktop {
      width: 150px;
      height: auto;
    }
  }
  &__inner {
    padding: 55px 60px 50px 60px;
    color: white;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    background-color: var(--dark-bg);
    @include m.desktop {
      padding: 55px 30px 50px 30px;
    }
    @include m.tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
      border-radius: 0;
      padding: 55px 20px 30px 20px;

    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    @include m.desktop {
      column-gap: 20px;
    }
    @include m.tablet {
      display: contents;
    }
  }
  &__social {
    &-list {
      display: flex;
      column-gap: 20px;
    }
    &-link {
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
      @include m.desktop {
        column-gap: 20px;
      }
      @include m.tablet {
        flex-direction: column;
        row-gap: 15px;
      }
    }
    &-link {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 3px;
        background-color: var(--accent-color);
        transition-duration: var(--transition-duration);
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__social {
    @include m.tablet {
      order: 1;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 66px;
    @media (min-width: $tablet-screen) {
      padding-bottom: 50px;
      border-bottom: 1px solid white;
      margin-bottom: 50px;
    }
    @include m.tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
      width: 100%;
      margin-top: 0;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 27px;
    @include m.tablet {
      align-items: center;
      text-align: center;
    }
    &-title {
      padding-inline: 7px;
      background-color: var(--accent-color);
      border-radius: var(--label-border-radius);
      color: black
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__subscribe {
    border-radius: var(--button-border-radius);
    padding: 58px 40px;
    background-color: var(--gray-color);
    box-sizing: border-box;
    display: flex;
    column-gap: 20px;
    width: 100%;
    max-width: 634px;
    @include m.desktop {
      flex-direction: column;
      row-gap: 22px;
      padding: 30px;
      width: 100%;
      max-width: 500px;
    }
    @include m.tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }
    &-button {
      @include m.button-puppet(var(--accent-color), var(--accent-color), black);
      flex-shrink: 0;
      min-width: 150px;
      &:hover {
        background-color: var(--secondary-color);
        color: var(--switch-color);
        border-color: var(--secondary-color);
      }
    }
    &-field {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 5px;
      flex: 1;
      &-input {
        width: 100%;
        height: 67px;
        font-size: 18px;
        padding-inline: 30px;
        color: white;
        box-sizing: border-box;
        background-color: var(--gray-color);
        border: 1px solid white;
        border-radius: var(--button-border-radius);
        &::placeholder {
          color: white;
        }
      }
    }
  }
  &__copy {
    display: flex;
    column-gap: 40px;
    a {
      text-decoration: underline;
    }
    @include m.tablet {
      width: 100%;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      order: 2;
      border-top: 1px solid white;
      padding-top: 37px;
      text-align: center;
    }
  }
}