@use '../mixins' as m;
@use '../variables' as *;

.steps {
  padding-inline: 20px;
  @media (min-width: $tablet-screen) {
    padding-inline: 50px;
  }
  @media (min-width: $desktop-screen) {
    padding-inline: 100px;
  }
  &__item {
    @if (var(--dark-mode)) {
      color: var(--text-color);
    }
    background-color: var(--switch-color);
    border: 1px solid black;
    border-radius: var(--card-border-radius);
    box-shadow: 0 5px 0 0 black;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    padding: 41px 57px 41px 60px;
    @include m.tablet {
      margin-bottom: 20px;
      padding: 30px;
    }
    &.open {
      color: black;
      background-color: var(--accent-color);
    }
    &:hover {
      color: black;
      background-color: var(--accent-color);
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  &__title {
    display: flex;
    margin: 0;
    align-items: center;
    @include m.tablet {
      font-size: 18px;
    }
    &-num {
      font-size: 60px;
      padding-right: 25px;
      @include m.tablet {
        font-size: 30px;
        padding-right: 33px;
      }
    }
  }
  &__toggle {
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s ease;
    @include m.tablet {
      width: 30px;
      height: 30px;
    }
    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.5);
    }
    &-img {
      display: block;
      transition: opacity 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      @include m.tablet {
        width: 30px;
        height: 30px;
      }
    }
    &-default {
      opacity: 1;
      .steps__item.open & {
        opacity: 0;
      }
    }
    &-active {
      opacity: 0;
      .steps__item.open & {
        opacity: 1;
      }
    }
  }
  &__body {
    border-top: 1px solid black;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    .steps__item.open & {
      margin-top: 30px;
      padding-top: 30px !important;
      max-height: 1000px;
      opacity: 1;
      padding: 0 20px 20px 20px;
    }
  }
}