@use '../mixins' as m;
@use '../variables' as *;

.team {
  padding-inline: 20px;
  @media (min-width: $tablet-screen) {
    padding-inline: 50px;
  }
  @media (min-width: $desktop-screen) {
    padding-inline: 100px;
  }
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  &__button {
    @include m.button-puppet(var(--secondary-color),
      var(--secondary-color),
      var(--main-color));
    align-self: end;
    width: 269px;
    &:hover {
      background-color: var(--accent-color);
      color: black;
    }
    @include m.tablet {
      width: 100%;
    }
  }
  &-card {
    min-height: 274px;
    padding: 40px 35px;
    background-color: var(--card-color);
    border: 1px solid black;
    border-radius: var(--card-border-radius);
    box-shadow: 0 5px 0 0 black;
    transition: 0.3s;
    transform: translateY(0);
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    }
    @include m.tablet {
      padding-inline: 50px;
    }
    @include m.mobile-middle {
      padding: 20px 20px;
    }
    &__header {
      display: flex;
    }
    &__img {
      &:not(:last-child) {
        margin-right: 20px;
      }
      @include m.mobile-middle {
        width: 80px;
        height: auto;
      }
    }
    &__person {
      align-self: end;
    }
    &__social {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      margin-left: auto;
      align-self: start;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.89);
      }
    }
    &__description {
      margin-top: 28px;
      padding-top: 28px;
      border-top: 1px solid black;
      font-size: 18px;
      @include m.tablet {
        font-size: 16px;
      }
      @include m.tablet {
        margin-top: 20px;
        padding-top: 20px;
      }
    }
  }
}