@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

